﻿.AGM-Search {
	margin-bottom: 5px;
}

.agm-lookup {
    z-index: 10000 !important;
}

.AGM-Map {
	position: relative;
	overflow: hidden;
}

.angular-google-map-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.AGM-Coord {
	margin-top:5px;
}

.angulargoolemapsConfigIcon label,.angulargoolemapsDefinition label {
    width: 150px;
    margin-top:3px;
}

.angulargoolemapsConfigIcon select, .angulargoolemapsConfigIcon input {
    margin-bottom: 10px;
}

.angulargoolemapsDefinition .comment, .angulargoolemapsConfigIcon .comment {
    color: #b3b3b3 !important;
    font-size:85%;
    padding-left:175px;
}
.angulargoolemapsConfigIcon .map {
    background-image:url(/App_Plugins/AngularGoogleMaps/2.0.3/map-example.png);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.angulargoolemapsPreview {
    background-image:url(/App_Plugins/AngularGoogleMaps/2.0.3/map-example.png);
    margin-top: -40px;
    height: 100px;
    margin-left: -10px;
}

.angulargoolemapsPreview .img-wrapper {
    text-align: center;
}

.angulargoolemapsPreview .img-wrapper img {
    margin-top:25px;
}
